body {
    background-image: url('background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Gill Sans", sans-serif;
}


.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    gap: 20px;
}

.movie-card {
    background-color: #fff9ff;
    border-radius: 10px;
    border: 1px solid #000;
    height: 100px;
    min-width: 175px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
    text-align: center;
    overflow: hidden; 
}

.movie-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.movie-title h3{
    line-height: 1;
    font: 1.2em "Gill Sans", sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 20px;
    margin-bottom: 2px;
}
.movie-title h2{
    line-height: 1;
    font: 1.4em "Gill Sans", sans-serif;
    overflow: auto;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 5px;
    margin-bottom: 2px;
}

.card-body-l {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    height: 50px; 
    margin-left: 10%;
}

ul#menu li {
    display: inline;
}

.card-body-r {
    display: flex;
    align-items: center; 
    justify-content: flex-end; 
    height: 50px; 
    margin-right: 10%;
}

.like-icon {
    width: 20px; 
    height: 20px; 
    margin-left: 5px; 
}

.likes-count {
    margin-left: 5px; 
}

.search-form {
    background-color: #fff9ff;
    height: 25px;
    min-width: 125px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
}

#loading-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px; 
    height: 50px; 
    background: transparent;
    border-radius: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-container img {
    width: 100%;
}
