{% extends "base.html" %}]
{%block content%}

<h1>Goal</h1>
<div class="container">
    <div class="row justify-content-center">
        {% if goal_set == False %}
        <form action="" method="post" name="goalform">
            {{goalform.hidden_tag()}}
            {{goalform.name(class_='form-control')}}
            {% for error in goalform.name.errors %}
                <div class="alert alert-danger" role="alert">
                    [{{error}}]
                </div>
            {% endfor %}
            {{ goalform.amount(class_='form-control')}}
            {% for error in goalform.amount.errors %}
                <div class="alert alert-danger" role="alert">
                    [{{error}}]
                </div>
            {% endfor %}
            <p><input type="submit" class="btn btn-primary" value="Submit"></p>
        </form>
        {% else %}
        <h3>{{ goal.name }} <span class="badge bg-info"> £{{'%0.2f'|format(goal.amount|float)}} </span></h3>
        {% endif %}
    </div>
</div>






{%endblock%}