{% extends "base.html" %}]
{%block content%}

<h1>Home</h1>
<h2>{{home.description}}</h2>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <td>Your expenditure total is: £{{'%0.2f'|format(expenditure_total|float)}}</td>
        </div>
        <div class="col-sm">
            <td>Your income total is: £{{'%0.2f'|format(income_total|float)}}</td>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <td>The difference between your income and your expenditures is: £{{'%0.2f'|format(exp_inc_dif|float)}}</td>
        </div>
        <div class="col-sm">
            {{home.optional_goal}}
        </div>
    </div>
    {{home.null_money}}
</div>






{%endblock%}