{% extends "base.html" %}]
{%block content%}

<h1>Incomes</h1>
<h2>{{incomes.description}}</h2>

<div class="container">
    <table class="table table-hover">
        <caption>Incomes</caption>
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for x in range(1,incomes_count+1) %}
          <tr>
            <th scope="row">{{x}}</th>
            <td>{{incomes_list[x-1].name}}</td>
            <td>£{{'%0.2f'|format(incomes_list[x-1].amount|float)}}</td>
            <!--formats the expenditures to GBP form-->
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>






{%endblock%}