{% extends "base.html" %}

{% block content %}
<head>
	<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}" ></script>
	<script src="{{ url_for('static', filename='infinite_scroll.js') }}"></script>
</head>
<div class="flex-row">
    <div class="card bg-info text-center">
        <h1>Movie Review Website</h1>   
        <p id="response"></p>
        <div class="card">
            <div class="flex-row" id="movie-grid" data-movies="{{ movies | tojson | safe }}">
                {% for movie in movies %}
                    <div class="movie-card">
                        <h3>{{ movie.name }}</h3>
                        <p>Likes: {{ movie.likes }}</p>
                    </div>
                {% endfor %}
            </div>
            <div id="loading-container"></div>
        </div>
    </div>
</div>
{% endblock %}
