{% extends "base.html" %}

{% block content %}
<head>
	<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}" ></script>
	<script type="text/javascript" src="{{ url_for('static', filename='ajax_js.js') }}" ></script>
</head>
<div class="flex-row">
    <div class="card bg-info text-center">
        <h1>Movie Review Website</h1>   
        <p id="response"></p>
        <div class="card">
            <div class="flex-row" id="movie-grid" data-movies="{{ movies | tojson | safe }}">
                <!-- Render the first 6 movies initially -->
                {% for i in range(display_count if movies | length >= display_count else movies | length) %}
                    <div class="movie-card">
                        <h3>{{ movies[i].name }}</h3>
                        <p>Likes: {{ movies[i].likes }}</p>
                    </div>
                {% endfor %}
            </div>
            <a id="load">Load More</a><br/>
        </div>
    </div>
</div>
{% endblock %}
