{% extends "base.html" %}

{% block content %}

<div class="flex-row">
    <div class="card bg-info text-center">
        <h1>Movie</h1>
        <div class="card">
            <div class="flex-row"></div>
            <h1>{{ movie.name }}</h1>
        </div>
        {% if movie.release_date %}
        <h2>{{ movie.release_date.strftime("%B %Y") }}</h2>
        {% else %}
        <h2>No release date found...</h2>
        {% endif %}
        <h2>{{ movie.rating }}</h2>
        <h2>{{ movie.likes }}</h2>
        <h2>{{ movie.synopsis }}</h2>
        {% for cast_member in movie.cast %}
            <h3>{{ cast_member.name }}</h3>
        {% endfor %}
    </div>
</div>

{% endblock %}