<head>
    <script type="text/javascript" src="{{ url_for('static', filename='ajax_likes.js') }}"></script>
</head>
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4" id="movie-grid" data-movies="{{ movies | tojson | safe }}">
        {% for movie in movies %}
        <div class="col">
            <div class="movie-grid">
                <div class="movie-card">
                    <div class="movie-content">
                        <div class="movie-title">
                            <h3><a class="text-dark" href="{{ url_for('movie', movie_id=movie.id) }}">{{ movie.name }}</a></h3>
                        </div>
                        <div class="card-body-r">
                            {% if movie.id in liked_movie_ids %}
                            <img tabindex="0" src="{{ url_for('static', filename='likes_ico_liked.png') }}" alt="{{ movie.name }} Likes" class="like-icon {% if movie.id in liked_movie_ids %}liked{% endif %}" data-movie-id="{{ movie.id }}">
                            {% else %}
                            <img tabindex="0" src="{{ url_for('static', filename='likes_ico.png') }}" alt="{{ movie.name }} Likes" class="like-icon {% if movie.id in liked_movie_ids %}liked{% endif %}" data-movie-id="{{ movie.id }}">
                            {% endif %}
        
                            <span class="likes-count" id="likes-count-{{ movie.id }}">{% if movie.likes %}{{ movie.likes }}{% else %}0{% endif %}</span>
        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% endfor %}
    </div>