{% extends "base.html" %}

{% block content %}
<head>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ajax_likes.js') }}"></script>
</head>


<div class="flex-row">
    <div class="movie-card text-center mt-3">
        <div class="movie-content">
            <div class="movie-title">
                <h2>{{ movie.name }} ({% if movie.release_date %}{{ movie.release_date.strftime("%B %Y") }}{% else %} No release date found...{% endif %})</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card-body-l">
                        <span class="likes-count">{{ movie.rating }} / 10</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-body-r">
                        <!-- Display the like icon image to the right of the title -->
                        {% if current_user_like_exist %}
                        <img src="../static/likes_ico_liked.png" alt="Likes" class="like-icon {% if current_user_like_exist %}liked{% endif %}" data-movie-id="{{ movie.movieID }}">
                        {% else %} <!-- i know -->
                        <img src="../static/likes_ico.png" alt="Likes" class="like-icon {% if current_user_like_exist %}liked{% endif %}" data-movie-id="{{ movie.movieID }}">
                        {% endif %}
                    
                        <!-- Display the number of likes -->
                        <span class="likes-count" id="likes-count-{{ movie.movieID }}">{% if movie.likes %}{{ movie.likes }}{% else %}0{% endif %}</span>
                    </div>
                </div>
            </div>
        </div> <!-- end card -->
    </div>
    <!-- synop card -->
    <div class="card mt-3">
        {{ movie.synopsis }}
    </div>
    <!-- end synop card -->
    <!-- cast list -->
    <div class="card mt-3 bg-light">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><h3>Cast:</h3></li>
            {% for cast_member in cast %}
                <li class="list-group-item">
                    <a class="text-dark" href="{{ url_for('cast_member', cast_member_id=cast_member.castMemberID) }}">{{ cast_member.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <!-- end cast list -->

    <!-- reviews -->
    {% if reviews %}
        <div class="card mt-3 bg-light">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><h3>User Reviews:</h3></li>
                {% for review in reviews %}
                    <li class="list-group-item">
                        <p><a class="text-dark" href="{{ url_for('user', user_id=review.user.userID) }}">{{ review.user.username }}</a>: <strong>{{ review.title }}</strong></p>
                        <p>Rating: {{ review.rating }}</p>
                        <p>{{ review.body }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <div class="card mt-3 bg-light border-0">
            <li class="list-group-item">
                <p>No reviews yet...</p>
            </li>
        </div>
    {% endif %}
    <!-- end reviews -->

    <!-- link to review form -->
    <div class="card mt-3  border-0 bg-transparent">
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('submit_review', movie_id=movie.movieID) }}" class="btn btn-dark mt-3">Leave a Review</a>
        {% else %}
            <a href="{{ url_for('login') }}" class="btn btn-dark">Login to Leave a Review</a></p>
        {% endif %}
    </div>

</div>

{% endblock %}
