{% extends "base.html" %}

{% block content %}

<div class="flex-row">
    <div class="card bg-light mt-4">
        <div class="user-profile text-center mt-3">
            <div class="profile-content">
                <div class="profile-username">
                    <h2>{{ user.username }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card bg-light mt-3">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><h3>User Reviews:</h3></li>
        {% for review in user_reviews %}
            <li class="list-group-item">
                <p><a class="text-dark" href="{{ url_for('movie', movie_id=review.movie.movieID) }}">{{ review.movie.name }}</a>: <strong>{{ review.title }}</strong></p>
                <p>Rating: {{ review.rating/10 }}/10</p>
                <p>{{ review.body }}</p>
                {% if review.user_id == current_user.userID %} {# Check if the review belongs to the current user #}
                    <form method="post" action="{{ url_for('delete_review', review_id=review.reviewID) }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>

<div class="card bg-light mt-3">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><h3>Liked Movies:</h3></li>
        {% for movie in liked_movies %}
        <li class="list-group-item">
            <a class="text-dark" href="{{ url_for('movie', movie_id=movie.movieID) }}">{{ movie.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
